!!! 5
/[if lt IE 8] <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie" lang="en">
/[if IE 8] <html class="no-js lt-ie10 lt-ie9 ie8 ie" lang="en">
/[if IE 9] <html class="no-js lt-ie10 ie" lang="en">
:plain
  <!--[if gt IE 9]><!-->
%html{class: "no-js modern-browser", :'xmlns:og' => "http://opengraphprotocol.org/schema/", :'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  :plain
    <!--<![endif]-->
  %head

    = stylesheet_link_tag "application"
    = javascript_include_tag "/assets/javascripts/bower_components/modernizr/modernizr"

  %body
    
    = yield
    
    %script{ :src => "/assets/javascripts/libs/require.js", :data => { :main => "/assets/javascripts/application.js" }}